/* General dashboard*/
a:hover div.clickable-div {
	background-color:#d9d9d9;
}
/*----------------------------------------------*/

/* Dashboard datepicker */
.ui-monthpicker .ui-monthpicker-month {
	text-transform: uppercase;
	width: 18.3% !important;
}
.ui-datepicker select.ui-datepicker-year {
	width: 80% !important;
	padding-left: 21%;
}
/*----------------------------------------------*/

/* Dashboard carousel */
.carousel-cell {
	padding: 10px !important;
}

.ui-carousel .ui-carousel-header {
	background-color: #439fe0 !important;
}
/*----------------------------------------------*/
