USE [TDB_MONITOR]
GO
/****** Object:  Table [dbo].[DEALER] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEALER](
	[ID] [int] NOT NULL,
	[DEALER_NAME] [varchar](50) NOT NULL,
	[GROUP_ID] [int] NOT NULL,
	[DMS_ID] [int] NOT NULL,
 CONSTRAINT [PK_DEALER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAILED_LOG]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILED_LOG](
	[ID] [int] NOT NULL,
	[MESSAGE_STATUS] [varchar](20) NULL,
	[MESSAGE] [varchar](max) NULL,
	[LOG_ID] [int] NOT NULL,
 CONSTRAINT [PK_DETAILED_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMS] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMS](
	[ID] [int] NOT NULL,
	[PROVIDER_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENT]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT](
	[CODE] [varchar](15) NOT NULL,
	[DESCRIPTION] [varchar](500) NOT NULL,
 CONSTRAINT [PK_EVENT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[ID] [int] NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERFACE]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERFACE](
	[ID] [int] NOT NULL,
	[INTERFACE_NAME] [varchar](50) NOT NULL,
	[LEGACY_SYSTEM_ID] [int] NOT NULL,
 CONSTRAINT [PK_INTERFACE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERFACE_SCHEDULE]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERFACE_SCHEDULE](
	[ID] [int] NOT NULL,
	[SCHEDULE_TIME] [datetime] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
 CONSTRAINT [PK_INTERFACE_SCHEDULE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_SCHEDULE]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_SCHEDULE](
	[ID] [int] NOT NULL,
	[JOB_NAME] [varchar](70) NOT NULL,
	[CLASS_NAME] [varchar](100) NOT NULL,
	[EXECUTION_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_JOB_SCHEDULE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEGACY_SYSTEM]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEGACY_SYSTEM](
	[ID] [int] NOT NULL,
	[SYSTEM_NAME] [varchar](70) NOT NULL,
 CONSTRAINT [PK_LEGACY_SYSTEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[ID] [int] NOT NULL,
	[EXECUTION_START_DATE] [datetime] NOT NULL,
	[EXECUTION_END_DATE] [datetime] NULL,
	[FILE_NAME] [varchar](100) NOT NULL,
	[INSERTION_DATE] [datetime] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
	[DEALER_ID] [int] NOT NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONITOR_SVT]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONITOR_SVT](
	[ID] [int] NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[FIRST_TRANSMITION_DATE] [datetime] NOT NULL,
	[LAST_TRANSMITION_DATE] [datetime] NOT NULL,
	[NUM_OF_TRANSMITIONS] [int] NOT NULL,
	[TRANSACTION_STATUS] [varchar](15) NOT NULL,
	[ERROR_CODE] [varchar](20) NOT NULL,
	[ERROR_DESCRIPTION] [varchar](500) NOT NULL,
	[EVENT_CODE] [varchar](15) NOT NULL,
	[CHASSI] [varchar](70) NOT NULL,
	[ORDER_NUMBER] [numeric](18, 0) NOT NULL,
	[SUBSIDIARY] [int] NOT NULL,
	[CARD_NUMBER] [numeric](18, 0) NOT NULL,
	[DEALER_ID] [int] NOT NULL,
	[INSERTION_DATE] [datetime] NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
 CONSTRAINT [PK_MONITOR_SVT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PENDING_INTERFACE]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENDING_INTERFACE](
	[ID] [int] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
	[DEALER_ID] [int] NOT NULL,
	[PENDING_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_PENDING_INTERFACE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PENDING_RETAIL]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENDING_RETAIL](
	[ID] [int] NOT NULL,
	[CHASSI] [varchar](50) NOT NULL,
	[SERIE] [varchar](30) NOT NULL,
	[COSMOS_SFX] [varchar](30) NOT NULL,
	[KATASHIKI] [numeric](18, 0) NOT NULL,
	[LEGACY_SFX] [varchar](30) NOT NULL,
	[MODEL_DESC] [varchar](200) NOT NULL,
	[INTERNAL_COLOR] [varchar](100) NOT NULL,
	[EXTERNAL_COLOR] [varchar](100) NOT NULL,
	[DEALER_ID] [int] NOT NULL,
	[DMS_VERSION] [varchar](30) NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[EVENT_CODE] [varchar](15) NOT NULL,
	[ERROR_CODE] [varchar](15) NOT NULL,
	[ERROR_DESC] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PENDING_RETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUMMARIZED_MONITOR_SVT]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUMMARIZED_MONITOR_SVT](
	[ID] [int] NOT NULL,
	[INSERTION_DATE] [datetime] NOT NULL,
	[DEALER_ID] [int] NOT NULL,
	[NUM_OF_EVENTS] [numeric](18, 0) NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SUMMARIZED_MONITOR_SVT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_USER]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_USER](
	[ID] [int] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SYSTEM_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TDB_SERVICES]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TDB_SERVICES](
	[ID] [int] NOT NULL,
	[LEGACY_SYSTEM_ID] [int] NOT NULL,
	[SERVICE_NAME] [varchar](70) NOT NULL,
	[PROD_AVAILABILITY_STATUS] [varchar](20) NOT NULL,
	[PROD_PROCESSING_AVG_TIME] [float] NOT NULL,
	[HOMOL_AVAILABILITY_STATUS] [varchar](20) NOT NULL,
	[HOMOL_PROCESSING_AVG_TIME] [float] NULL,
 CONSTRAINT [PK_TDB_SERVICES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACCESS_LOG]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCESS_LOG](
	[ID] [int] NOT NULL,
	[LOGIN_DATE] [datetime] NOT NULL,
	[SYSTEM_USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_USER_ACCESS_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEALER]  WITH CHECK ADD  CONSTRAINT [FK_DEALER_DMS] FOREIGN KEY([DMS_ID])
REFERENCES [dbo].[DMS] ([ID])
GO
ALTER TABLE [dbo].[DEALER] CHECK CONSTRAINT [FK_DEALER_DMS]
GO
ALTER TABLE [dbo].[DEALER]  WITH CHECK ADD  CONSTRAINT [FK_DEALER_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP] ([ID])
GO
ALTER TABLE [dbo].[DEALER] CHECK CONSTRAINT [FK_DEALER_GROUP]
GO
ALTER TABLE [dbo].[DETAILED_LOG]  WITH CHECK ADD  CONSTRAINT [FK_DETAILED_LOG_LOG] FOREIGN KEY([LOG_ID])
REFERENCES [dbo].[LOG] ([ID])
GO
ALTER TABLE [dbo].[DETAILED_LOG] CHECK CONSTRAINT [FK_DETAILED_LOG_LOG]
GO
ALTER TABLE [dbo].[INTERFACE]  WITH CHECK ADD  CONSTRAINT [FK_INTERFACE_LEGACY_SYSTEM] FOREIGN KEY([LEGACY_SYSTEM_ID])
REFERENCES [dbo].[LEGACY_SYSTEM] ([ID])
GO
ALTER TABLE [dbo].[INTERFACE] CHECK CONSTRAINT [FK_INTERFACE_LEGACY_SYSTEM]
GO
ALTER TABLE [dbo].[INTERFACE_SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_INTERFACE_SCHEDULE_INTERFACE] FOREIGN KEY([INTERFACE_ID])
REFERENCES [dbo].[INTERFACE] ([ID])
GO
ALTER TABLE [dbo].[INTERFACE_SCHEDULE] CHECK CONSTRAINT [FK_INTERFACE_SCHEDULE_INTERFACE]
GO
ALTER TABLE [dbo].[LOG]  WITH CHECK ADD  CONSTRAINT [FK_LOG_DEALER] FOREIGN KEY([DEALER_ID])
REFERENCES [dbo].[DEALER] ([ID])
GO
ALTER TABLE [dbo].[LOG] CHECK CONSTRAINT [FK_LOG_DEALER]
GO
ALTER TABLE [dbo].[LOG]  WITH CHECK ADD  CONSTRAINT [FK_LOG_INTERFACE] FOREIGN KEY([INTERFACE_ID])
REFERENCES [dbo].[INTERFACE] ([ID])
GO
ALTER TABLE [dbo].[LOG] CHECK CONSTRAINT [FK_LOG_INTERFACE]
GO
ALTER TABLE [dbo].[MONITOR_SVT]  WITH CHECK ADD  CONSTRAINT [FK_MONITOR_SVT_DEALER] FOREIGN KEY([DEALER_ID])
REFERENCES [dbo].[DEALER] ([ID])
GO
ALTER TABLE [dbo].[MONITOR_SVT] CHECK CONSTRAINT [FK_MONITOR_SVT_DEALER]
GO
ALTER TABLE [dbo].[MONITOR_SVT]  WITH CHECK ADD  CONSTRAINT [FK_MONITOR_SVT_EVENT] FOREIGN KEY([EVENT_CODE])
REFERENCES [dbo].[EVENT] ([CODE])
GO
ALTER TABLE [dbo].[MONITOR_SVT] CHECK CONSTRAINT [FK_MONITOR_SVT_EVENT]
GO
ALTER TABLE [dbo].[PENDING_INTERFACE]  WITH CHECK ADD  CONSTRAINT [FK_PENDING_INTERFACE_DEALER] FOREIGN KEY([DEALER_ID])
REFERENCES [dbo].[DEALER] ([ID])
GO
ALTER TABLE [dbo].[PENDING_INTERFACE] CHECK CONSTRAINT [FK_PENDING_INTERFACE_DEALER]
GO
ALTER TABLE [dbo].[PENDING_INTERFACE]  WITH CHECK ADD  CONSTRAINT [FK_PENDING_INTERFACE_INTERFACE] FOREIGN KEY([INTERFACE_ID])
REFERENCES [dbo].[INTERFACE] ([ID])
GO
ALTER TABLE [dbo].[PENDING_INTERFACE] CHECK CONSTRAINT [FK_PENDING_INTERFACE_INTERFACE]
GO
ALTER TABLE [dbo].[PENDING_RETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PENDING_RETAIL_DEALER] FOREIGN KEY([DEALER_ID])
REFERENCES [dbo].[DEALER] ([ID])
GO
ALTER TABLE [dbo].[PENDING_RETAIL] CHECK CONSTRAINT [FK_PENDING_RETAIL_DEALER]
GO
ALTER TABLE [dbo].[PENDING_RETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PENDING_RETAIL_EVENT] FOREIGN KEY([EVENT_CODE])
REFERENCES [dbo].[EVENT] ([CODE])
GO
ALTER TABLE [dbo].[PENDING_RETAIL] CHECK CONSTRAINT [FK_PENDING_RETAIL_EVENT]
GO
ALTER TABLE [dbo].[SUMMARIZED_MONITOR_SVT]  WITH CHECK ADD  CONSTRAINT [FK_SUMMARIZED_MONITOR_SVT_DEALER] FOREIGN KEY([DEALER_ID])
REFERENCES [dbo].[DEALER] ([ID])
GO
ALTER TABLE [dbo].[SUMMARIZED_MONITOR_SVT] CHECK CONSTRAINT [FK_SUMMARIZED_MONITOR_SVT_DEALER]
GO
ALTER TABLE [dbo].[TDB_SERVICES]  WITH CHECK ADD  CONSTRAINT [FK_TDB_SERVICES_LEGACY_SYSTEM] FOREIGN KEY([LEGACY_SYSTEM_ID])
REFERENCES [dbo].[LEGACY_SYSTEM] ([ID])
GO
ALTER TABLE [dbo].[TDB_SERVICES] CHECK CONSTRAINT [FK_TDB_SERVICES_LEGACY_SYSTEM]
GO
ALTER TABLE [dbo].[USER_ACCESS_LOG]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCESS_LOG_SYSTEM_USER] FOREIGN KEY([SYSTEM_USER_ID])
REFERENCES [dbo].[SYSTEM_USER] ([ID])
GO
ALTER TABLE [dbo].[USER_ACCESS_LOG] CHECK CONSTRAINT [FK_USER_ACCESS_LOG_SYSTEM_USER]
GO
